In [31]:
import pandas as pd
from datetime import date


%load_ext nb_black

In [2]:
df = pd.read_csv("mlb-elo/mlb_elo.csv")

In [3]:
df.head()

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,pitcher1_rgs,pitcher2_rgs,pitcher1_adj,pitcher2_adj,rating_prob1,rating_prob2,rating1_post,rating2_post,score1,score2
0,2022-10-04,2022,0,NaN,TEX,NYY,1457.030338,1524.500391,0.437766,0.562234,...,NaN,NaN,NaN,NaN,0.410961,0.589039,NaN,NaN,NaN,NaN
1,2022-10-04,2022,0,NaN,SEA,DET,1509.244426,1484.621492,0.569521,0.430479,...,NaN,NaN,NaN,NaN,0.582185,0.417815,NaN,NaN,NaN,NaN
2,2022-10-04,2022,0,NaN,SDP,SFG,1501.135403,1562.747346,0.446083,0.553917,...,NaN,NaN,NaN,NaN,0.539838,0.460162,NaN,NaN,NaN,NaN
3,2022-10-04,2022,0,NaN,PIT,STL,1460.306361,1529.976795,0.434651,0.565349,...,NaN,NaN,NaN,NaN,0.452363,0.547637,NaN,NaN,NaN,NaN
4,2022-10-04,2022,0,NaN,OAK,ANA,1523.767041,1488.328628,0.584714,0.415286,...,NaN,NaN,NaN,NaN,0.457938,0.542062,NaN,NaN,NaN,NaN

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225857 entries, 0 to 225856
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   date          225857 non-null  object
 1   season        225857 non-null  int64
 2   neutral       225857 non-null  int64
 3   playoff       1707 non-null    object
 4   team1         225857 non-null  object
 5   team2         225857 non-null  object
 6   elo1_pre      225857 non-null  float64
 7   elo2_pre      225857 non-null  float64
 8   elo_prob1     225857 non-null  float64
 9   elo_prob2     225857 non-null  float64
 10  elo1_post     223563 non-null  float64
 11  elo2_post     223563 non-null  float64
 12  rating1_pre   225857 non-null  float64
 13  rating2_pre   225857 non-null  float64
 14  pitcher1      223656 non-null  object
 15  pitcher2      223654 non-null  object
 16  pitcher1_rgs  189953 non-null  float64
 17  pitcher2_rgs  189951 non-null  float64
 18  pitcher1_adj  189272 non-null  float64
 19  pitcher2_adj  189271 non-null  float64
 20  rating_prob1  225857 non-null  float64
 21  rating_prob2  225857 non-null  float64
 22  rating1_post  223563 non-null  float64
 23  rating2_post  223563 non-null  float64
 24  score1        223563 non-null  float64
 25  score2        223563 non-null  float64
dtypes: float64(18), int64(2), object(6)
memory usage: 44.8+ MB

In [17]:
df.shape

(225857, 26)

In [11]:
gamesData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225857 entries, 0 to 225856
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   date          225857 non-null  datetime64[ns]
 1   season        225857 non-null  int64
 2   neutral       225857 non-null  int64
 3   playoff       1707 non-null    object
 4   team1         225857 non-null  object
 5   team2         225857 non-null  object
 6   elo1_pre      225857 non-null  float64
 7   elo2_pre      225857 non-null  float64
 8   elo_prob1     225857 non-null  float64
 9   elo_prob2     225857 non-null  float64
 10  elo1_post     223563 non-null  float64
 11  elo2_post     223563 non-null  float64
 12  rating1_pre   225857 non-null  float64
 13  rating2_pre   225857 non-null  float64
 14  pitcher1      223656 non-null  object
 15  pitcher2      223654 non-null  object
 16  pitcher1_rgs  189953 non-null  float64
 17  pitcher2_rgs  189951 non-null  float64
 18  pitcher1_adj  189272 non-null  float64
 19  pitcher2_adj  189271 non-null  float64
 20  rating_prob1  225857 non-null  float64
 21  rating_prob2  225857 non-null  float64
 22  rating1_post  223563 non-null  float64
 23  rating2_post  223563 non-null  float64
 24  score1        223563 non-null  float64
 25  score2        223563 non-null  float64
dtypes: datetime64[ns](1), float64(18), int64(2), object(5)
memory usage: 44.8+ MB

In [13]:
gamesData.head()
#gamesData.sample(n=10, random_state=1)

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,pitcher1_rgs,pitcher2_rgs,pitcher1_adj,pitcher2_adj,rating_prob1,rating_prob2,rating1_post,rating2_post,score1,score2
0,2022-10-04,2022,0,NaN,TEX,NYY,1457.030338,1524.500391,0.437766,0.562234,...,NaN,NaN,NaN,NaN,0.410961,0.589039,NaN,NaN,NaN,NaN
1,2022-10-04,2022,0,NaN,SEA,DET,1509.244426,1484.621492,0.569521,0.430479,...,NaN,NaN,NaN,NaN,0.582185,0.417815,NaN,NaN,NaN,NaN
2,2022-10-04,2022,0,NaN,SDP,SFG,1501.135403,1562.747346,0.446083,0.553917,...,NaN,NaN,NaN,NaN,0.539838,0.460162,NaN,NaN,NaN,NaN
3,2022-10-04,2022,0,NaN,PIT,STL,1460.306361,1529.976795,0.434651,0.565349,...,NaN,NaN,NaN,NaN,0.452363,0.547637,NaN,NaN,NaN,NaN
4,2022-10-04,2022,0,NaN,OAK,ANA,1523.767041,1488.328628,0.584714,0.415286,...,NaN,NaN,NaN,NaN,0.457938,0.542062,NaN,NaN,NaN,NaN

In [5]:
# creating a copy of the data
gamesData = df.copy()

In [9]:
# convert date column to datetime format
gamesData['date'] = pd.to_datetime(gamesData['date'])

In [25]:
# we have games that haven't been played yet - removing those
today = date.today().strftime("%Y-%m-%d")
gamesData = gamesData[gamesData['date']<str(today)]

In [26]:
gamesData.shape

(223555, 26)

In [16]:
gamesData.head()

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,pitcher1_rgs,pitcher2_rgs,pitcher1_adj,pitcher2_adj,rating_prob1,rating_prob2,rating1_post,rating2_post,score1,score2
2302,2022-04-16,2022,0,NaN,LAD,CIN,1578.161909,1496.253972,0.647862,0.352138,...,54.482800,47.501874,2.157607,-9.632793,0.672465,0.327535,1585.369064,1494.234231,5.0,2.0
2303,2022-04-16,2022,0,NaN,SEA,HOU,1511.804364,1544.066397,0.488112,0.511888,...,49.872809,61.505673,-2.015977,39.444432,0.417221,0.582779,1501.547211,1545.273961,0.0,4.0
2304,2022-04-16,2022,0,NaN,COL,CHC,1499.930827,1476.952474,0.567198,0.432802,...,53.089074,44.931370,6.370875,-21.934871,0.556232,0.443768,1471.117339,1481.548725,9.0,6.0
2305,2022-04-16,2022,0,NaN,MIL,STL,1517.306389,1528.476951,0.518455,0.481545,...,52.020523,49.334096,-15.746513,-8.001789,0.566868,0.433132,1533.988330,1506.011656,1.0,2.0
2306,2022-04-16,2022,0,NaN,TEX,ANA,1459.861604,1485.497361,0.497646,0.502354,...,47.959732,52.258450,-2.683350,9.814567,0.447389,0.552611,1465.004643,1516.907400,2.0,7.0

In [34]:
gamesData["fav_538_won"] = gamesData.apply(
    lambda x: 1
    if x["rating_prob1"] > x["rating_prob2"]
    and x["score1"] > x["score2"]
    or x["rating_prob1"] < x["rating_prob2"]
    and x["score1"] < x["score2"]
    else 0,
    axis=1,
)

In [36]:
gamesData["fav_538_prob"] = gamesData.apply(
    lambda x: x["rating_prob1"]
    if x["rating_prob1"] > x["rating_prob2"]
    else x["rating_prob2"],
    axis=1,
)

In [37]:
# checking a random sample of 20 after adding fav_538_won column
gamesData.sample(n=20, random_state=1)

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,pitcher1_adj,pitcher2_adj,rating_prob1,rating_prob2,rating1_post,rating2_post,score1,score2,fav_538_won,fav_538_prob
39074,2006-07-06,2006,0,NaN,ATL,CIN,1497.972000,1490.462000,0.545223,0.454777,...,8.262600,-0.292698,0.562110,0.437890,1497.086000,1486.867000,8.0,7.0,1,0.562110
109352,1974-05-06,1974,0,NaN,ANA,CLE,1507.963000,1494.174000,0.554169,0.445831,...,0.223286,0.133393,0.559676,0.440324,1504.825000,1493.475000,3.0,5.0,0,0.559676
14350,2016-07-16,2016,0,NaN,ARI,LAD,1469.099732,1534.428109,0.440803,0.559197,...,-5.944827,-11.974787,0.437704,0.562296,1474.276431,1544.662232,2.0,1.0,0,0.562296
43722,2004-07-31,2004,0,NaN,CIN,HOU,1465.173000,1510.823000,0.468883,0.531117,...,-0.292698,0.137795,0.471701,0.528299,1459.954000,1511.721000,0.0,8.0,1,0.528299
13543,2016-09-13,2016,0,NaN,ANA,SEA,1497.159222,1518.710605,0.503524,0.496476,...,-6.549744,-11.825502,0.500719,0.499281,1492.438034,1529.076625,0.0,8.0,0,0.500719
115757,1970-09-04,1970,0,NaN,TEX,DET,1499.384000,1502.305000,0.530298,0.469702,...,0.150649,-0.154137,0.533012,0.466988,1497.875000,1507.379000,3.0,6.0,0,0.533012
112632,1972-07-06,1972,0,NaN,HOU,PIT,1526.674000,1566.454000,0.477306,0.522694,...,0.137795,0.086205,0.472566,0.527434,1523.526000,1572.163000,3.0,7.0,1,0.527434
112548,1972-07-12,1972,0,NaN,WSN,SDP,1465.927000,1440.294000,0.570946,0.429054,...,-0.643439,-0.757425,0.571455,0.428545,1466.302000,1444.240000,5.0,6.0,0,0.571455
137785,1956-07-12,1956,0,NaN,CHC,PIT,1480.539000,1473.318000,0.544810,0.455190,...,-0.187539,0.086205,0.538632,0.461368,1477.259000,1478.825000,1.0,2.0,0,0.538632
23916,2012-08-08,2012,0,NaN,LAD,COL,1509.153000,1446.774000,0.621810,0.378190,...,-4.432100,4.615400,0.605957,0.394043,1509.340000,1446.675000,6.0,4.0,1,0.605957
184926,1918-05-28,1918,0,NaN,BOS,CHW,1534.408000,1559.308000,0.498705,0.501295,...,-0.073815,-0.823178,0.497143,0.502857,1534.165000,1556.728000,1.0,0.0,0,0.502857
73817,1991-07-04,1991,0,NaN,BOS,DET,1515.410000,1503.374000,0.551675,0.448325,...,-0.073815,-0.154137,0.545132,0.454868,1511.693000,1509.987000,1.0,6.0,0,0.545132
180161,1922-06-10,1922,0,NaN,PHI,STL,1434.206000,1529.149000,0.399300,0.600700,...,0.044941,0.314678,0.400016,0.599984,1432.785000,1530.818000,1.0,5.0,1,0.599984
85052,1986-05-11,1986,0,NaN,ATL,PHI,1476.751000,1480.167000,0.529588,0.470412,...,-0.167833,0.044941,0.528069,0.471931,1474.781000,1482.523000,1.0,2.0,0,0.528069
61708,1997-05-23,1997,0,NaN,NYY,BOS,1544.914000,1500.647000,0.596999,0.403001,...,0.166636,-0.073815,0.586372,0.413628,1537.296000,1508.277000,3.0,9.0,0,0.586372
108426,1974-07-30,1974,0,NaN,PHI,STL,1498.660000,1505.310000,0.524948,0.475052,...,0.044941,0.314678,0.524582,0.475418,1496.321000,1508.781000,3.0,4.0,0,0.524582
192926,1911-09-05,1911,0,NaN,BOS,NYY,1510.078000,1516.498000,0.525278,0.474722,...,NaN,NaN,0.525133,0.474867,1508.580000,1518.003000,3.0,4.0,0,0.525133
199480,1906-07-20,1906,0,NaN,STL,LAD,1446.416000,1437.737000,0.546891,0.453109,...,NaN,NaN,0.546797,0.453203,1444.143000,1439.808000,0.0,2.0,0,0.546797
219448,1886-06-21,1886,0,NaN,KCN,SLU,1430.847000,1437.798000,0.524516,0.475484,...,NaN,NaN,0.524431,0.475569,1428.488000,1440.162000,2.0,6.0,0,0.524431
58668,1998-07-13,1998,0,NaN,PIT,CHC,1478.618000,1502.570000,0.500069,0.499931,...,0.086205,-0.187539,0.506933,0.493067,1484.239000,1501.204000,6.0,2.0,1,0.506933