In [6]:
import pandas as pd
from datetime import date

In [2]:
df = pd.read_csv("mlb-elo/mlb_elo.csv")

In [3]:
df.head()

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,pitcher1_rgs,pitcher2_rgs,pitcher1_adj,pitcher2_adj,rating_prob1,rating_prob2,rating1_post,rating2_post,score1,score2
0,2022-10-04,2022,0,NaN,TEX,NYY,1457.030338,1524.500391,0.437766,0.562234,...,NaN,NaN,NaN,NaN,0.410961,0.589039,NaN,NaN,NaN,NaN
1,2022-10-04,2022,0,NaN,SEA,DET,1509.244426,1484.621492,0.569521,0.430479,...,NaN,NaN,NaN,NaN,0.582185,0.417815,NaN,NaN,NaN,NaN
2,2022-10-04,2022,0,NaN,SDP,SFG,1501.135403,1562.747346,0.446083,0.553917,...,NaN,NaN,NaN,NaN,0.539838,0.460162,NaN,NaN,NaN,NaN
3,2022-10-04,2022,0,NaN,PIT,STL,1460.306361,1529.976795,0.434651,0.565349,...,NaN,NaN,NaN,NaN,0.452363,0.547637,NaN,NaN,NaN,NaN
4,2022-10-04,2022,0,NaN,OAK,ANA,1523.767041,1488.328628,0.584714,0.415286,...,NaN,NaN,NaN,NaN,0.457938,0.542062,NaN,NaN,NaN,NaN

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225857 entries, 0 to 225856
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   date          225857 non-null  object
 1   season        225857 non-null  int64
 2   neutral       225857 non-null  int64
 3   playoff       1707 non-null    object
 4   team1         225857 non-null  object
 5   team2         225857 non-null  object
 6   elo1_pre      225857 non-null  float64
 7   elo2_pre      225857 non-null  float64
 8   elo_prob1     225857 non-null  float64
 9   elo_prob2     225857 non-null  float64
 10  elo1_post     223563 non-null  float64
 11  elo2_post     223563 non-null  float64
 12  rating1_pre   225857 non-null  float64
 13  rating2_pre   225857 non-null  float64
 14  pitcher1      223656 non-null  object
 15  pitcher2      223654 non-null  object
 16  pitcher1_rgs  189953 non-null  float64
 17  pitcher2_rgs  189951 non-null  float64
 18  pitcher1_adj  189272 non-null  float64
 19  pitcher2_adj  189271 non-null  float64
 20  rating_prob1  225857 non-null  float64
 21  rating_prob2  225857 non-null  float64
 22  rating1_post  223563 non-null  float64
 23  rating2_post  223563 non-null  float64
 24  score1        223563 non-null  float64
 25  score2        223563 non-null  float64
dtypes: float64(18), int64(2), object(6)
memory usage: 44.8+ MB

In [17]:
df.shape

(225857, 26)

In [11]:
gamesData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225857 entries, 0 to 225856
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   date          225857 non-null  datetime64[ns]
 1   season        225857 non-null  int64
 2   neutral       225857 non-null  int64
 3   playoff       1707 non-null    object
 4   team1         225857 non-null  object
 5   team2         225857 non-null  object
 6   elo1_pre      225857 non-null  float64
 7   elo2_pre      225857 non-null  float64
 8   elo_prob1     225857 non-null  float64
 9   elo_prob2     225857 non-null  float64
 10  elo1_post     223563 non-null  float64
 11  elo2_post     223563 non-null  float64
 12  rating1_pre   225857 non-null  float64
 13  rating2_pre   225857 non-null  float64
 14  pitcher1      223656 non-null  object
 15  pitcher2      223654 non-null  object
 16  pitcher1_rgs  189953 non-null  float64
 17  pitcher2_rgs  189951 non-null  float64
 18  pitcher1_adj  189272 non-null  float64
 19  pitcher2_adj  189271 non-null  float64
 20  rating_prob1  225857 non-null  float64
 21  rating_prob2  225857 non-null  float64
 22  rating1_post  223563 non-null  float64
 23  rating2_post  223563 non-null  float64
 24  score1        223563 non-null  float64
 25  score2        223563 non-null  float64
dtypes: datetime64[ns](1), float64(18), int64(2), object(5)
memory usage: 44.8+ MB

In [13]:
gamesData.head()
#gamesData.sample(n=10, random_state=1)

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,pitcher1_rgs,pitcher2_rgs,pitcher1_adj,pitcher2_adj,rating_prob1,rating_prob2,rating1_post,rating2_post,score1,score2
0,2022-10-04,2022,0,NaN,TEX,NYY,1457.030338,1524.500391,0.437766,0.562234,...,NaN,NaN,NaN,NaN,0.410961,0.589039,NaN,NaN,NaN,NaN
1,2022-10-04,2022,0,NaN,SEA,DET,1509.244426,1484.621492,0.569521,0.430479,...,NaN,NaN,NaN,NaN,0.582185,0.417815,NaN,NaN,NaN,NaN
2,2022-10-04,2022,0,NaN,SDP,SFG,1501.135403,1562.747346,0.446083,0.553917,...,NaN,NaN,NaN,NaN,0.539838,0.460162,NaN,NaN,NaN,NaN
3,2022-10-04,2022,0,NaN,PIT,STL,1460.306361,1529.976795,0.434651,0.565349,...,NaN,NaN,NaN,NaN,0.452363,0.547637,NaN,NaN,NaN,NaN
4,2022-10-04,2022,0,NaN,OAK,ANA,1523.767041,1488.328628,0.584714,0.415286,...,NaN,NaN,NaN,NaN,0.457938,0.542062,NaN,NaN,NaN,NaN

In [5]:
# creating a copy of the data
gamesData = df.copy()

In [9]:
# convert date column to datetime format
gamesData['date'] = pd.to_datetime(gamesData['date'])

In [25]:
# we have games that haven't been played yet - removing those
today = date.today().strftime("%Y-%m-%d")
gamesData = gamesData[gamesData['date']<str(today)]

In [26]:
gamesData.shape

(223555, 26)

In [16]:
gamesData.head()

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,pitcher1_rgs,pitcher2_rgs,pitcher1_adj,pitcher2_adj,rating_prob1,rating_prob2,rating1_post,rating2_post,score1,score2
2302,2022-04-16,2022,0,NaN,LAD,CIN,1578.161909,1496.253972,0.647862,0.352138,...,54.482800,47.501874,2.157607,-9.632793,0.672465,0.327535,1585.369064,1494.234231,5.0,2.0
2303,2022-04-16,2022,0,NaN,SEA,HOU,1511.804364,1544.066397,0.488112,0.511888,...,49.872809,61.505673,-2.015977,39.444432,0.417221,0.582779,1501.547211,1545.273961,0.0,4.0
2304,2022-04-16,2022,0,NaN,COL,CHC,1499.930827,1476.952474,0.567198,0.432802,...,53.089074,44.931370,6.370875,-21.934871,0.556232,0.443768,1471.117339,1481.548725,9.0,6.0
2305,2022-04-16,2022,0,NaN,MIL,STL,1517.306389,1528.476951,0.518455,0.481545,...,52.020523,49.334096,-15.746513,-8.001789,0.566868,0.433132,1533.988330,1506.011656,1.0,2.0
2306,2022-04-16,2022,0,NaN,TEX,ANA,1459.861604,1485.497361,0.497646,0.502354,...,47.959732,52.258450,-2.683350,9.814567,0.447389,0.552611,1465.004643,1516.907400,2.0,7.0